.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding-top: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--qwik-dark-background);
  text-align: center;
}

.github {
  margin-right: 30px;
  padding-left: 10px;
}

.anchor {
  color: white !important;
  display: block;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  line-height: 1.5;
}

.anchor span:not(.spacer) {
  display: block;
}

.spacer {
  display: none;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .anchor span {
    display: inline !important;
  }
}
